.showContainer-enter {
  opacity: 0;
  transform: translate3d(0, 10%, 0);
}

.showContainer-enter.showContainer-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.1s ease-out 0.1s, opacity 0.1s ease-in-out 0.1s;
}

.showContainer-enter .showClose {
  opacity: 0;
}

.showContainer-enter.showContainer-enter-active .showClose {
  opacity: 1;
  transition: opacity 0.15s ease-in-out 0.35s;
}
