.SearchInput::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
.SearchInput::-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
.SearchInput:-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}

.SearchInput {
  width: 100%;
  padding: 0 12px;
  color: #fff;
  background-color: transparent;
}
.SearchInput:focus {
  background-color: transparent;
}
